<div class="wrapper align-bottom">
  <div class="shadow-lg ">
    <div class="demo-border" >
      <drag-scroll class="demo-one"
        drag-scroll-y-disabled="true"
        scrollbar-hidden="true"
        (indexChanged)="index = $event"
        (reachesLeftBound)="leftBoundStat($event)"
        (reachesRightBound)="rightBoundStat($event)"
        (snapAnimationFinished)="onSnapAnimationFinished()"
        #nav
        >
        <img drag-scroll-item *ngFor="let image of imagelist" [src]="'assets/graph-img/' + image" (click)="clickItem($event, image)"/>
      </drag-scroll>
    </div>

    <div class="divisor">
    </div>

      <!-- Footer -->
      <footer class="footer">
        <!-- Copyright -->
        <div class="footer-copyright text-center lab">© 2018 Okazaki Laboratory, Tokyo Institute of Technology
        </div>
        <!-- Copyright -->
      </footer>
        <!-- Footer -->
  </div>

</div>
