.footerDiv{
  height: 15%;
  width:100%;
  position: fixed;
  bottom:0;
}

.main{
    height: 100%;
}
.row{
  height: 100%;
}



.menuContainer{
  height: 10vh;
  min-height: 50px;
  max-height: 90px;
}

.mainContainer{
  height: 75vh;
  min-height: 400px;
}

.footerContainer{
  height: 15vh;
}

.scroll{
  overflow-y:auto;
  position:relative;
}
