


<div class="alert alert-primary" role="alert">
  Select the reference object at each image, if you don't select one, an algorithm will pick 1 to 3 reference points automatically for you.
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-lg-8">
        <app-graph></app-graph>
    </div>
    <div class="col-md-6 col-lg-4">
      <app-box3d cube_src="../assets/v1/scans/2t7WUuJeko7/matterport_skybox_images/8d51f41d9ce04dfdaae944da9c6d3847_skybox"> </app-box3d>
    </div>
  </div>
</div>
