<div class="container">
  <div class="row" >
    <div class="col-md-4 col-lg-4">
      <app-box3d> </app-box3d>
    </div>
    <div class="col-md-4 col-lg-4">
      <app-box3d cube_src="../assets/v1/scans/2t7WUuJeko7/matterport_skybox_images/8d51f41d9ce04dfdaae944da9c6d3847_skybox"> </app-box3d>
    </div>
    <div class="col-md-4 col-lg-4">
      <app-box3d cube_src="../assets/v1/scans/2t7WUuJeko7/matterport_skybox_images/06addff1d8274747b7a1957b2f03b736_skybox"> </app-box3d>
    </div>
    <div class="col-md-4 col-lg-4">
      <app-box3d cube_src="../assets/v1/scans/2t7WUuJeko7/matterport_skybox_images/1a0d730696cc4057b0037a75c8ef6b59_skybox"> </app-box3d>
    </div>
    <div class="col-md-4 col-lg-4">
      <app-box3d cube_src="../assets/v1/scans/2t7WUuJeko7/matterport_skybox_images/1e6b606b44df4a6086c0f97e826d4d15_skybox"> </app-box3d>
    </div>
    <div class="col-md-4 col-lg-4">
      <app-box3d cube_src="../assets/v1/scans/2t7WUuJeko7/matterport_skybox_images/1e6b606b44df4a6086c0f97e826d4d15_skybox"> </app-box3d>
    </div>
  </div>
</div>
