<div class="shadow-sm" width="100%" height="100%" (window:resize)="onWindowResize($event)" (mouseenter)="onMouseEnter()" (mouseleave) = "onMouseLeave()" (mousedown)="onMouseDown()" (mouseup) = "onMouseUp()">
  <div class="" #rendererContainer></div>
  <!--<img class="card-img-top"  alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="{{default_img}}" data-holder-rendered="true">
-->
  <div class="float-right">
    <p class="">{{default_text}}</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary" (click)="onSelect()">Select</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Remove</button>
      </div>
      <small class="text-muted">{{default_state}}</small>
    </div>
  </div>
</div>
